
body {
    background-color:#E7E7E7;
}

/**----------- HEADER ---------------*/
.header {
    display: inline-block;
    height: 6em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 1em 1em;
    background-color: #D9D2D2;
    font-family: "Segoe UI", serif;
    border-bottom: 0.1em solid #387CB7;
}
.header a {
    color: #707070;
    height: 2em;
    position: relative;
    padding: 1em;
    font-family: Segoe UI, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
}
.header a:hover {
    color: lightyellow;
    height: 2em;
    position: relative;
    padding: 1em;
    font-family: Segoe UI, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
}
.header span {
    color: #707070;
    height: 80px;
    position: relative;
    font-family: Segoe UI, serif;
    font-size: 15px;
    text-decoration: none;
    line-height: 35px;
}
/**____________ADMIN_________________________*/
/**----------- dashbord_admin ---------------*/
/* hentet fra  https://jsfiddle.net/g2pzwaou/ */
.dashbord_admin_container h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.dashbord_admin_container > div {
    display: inline-block;
    width: 150px;
    padding: 15px;
    margin-top: 110px;
    border: 1px solid #387CB7;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #888888;
}
.dashbord_admin_container div.text {
    /* this is the weakness of this layout.  To get all the boxes to be the same height, you have to set this to a fixed height. */
    height: 100px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.dashbord2_admin_container h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.dashbord2_admin_container > div {
    display: inline-block;
    margin-top: 5px;
    width: 305px;
    padding: 15px;
    max-width: 50%;
    min-width: 200px;
    border: 1px solid #387CB7;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #888888;
}
.dashbord2_admin_container div.text {
    /* this is the weakness of this layout.  To get all the boxes to be the same height, you have to set this to a fixed height. */
    height: 300px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
/**----------- brukerprofiler_admin ---------------*/
.brukerprofiler_buttons {
    background-color: white;
    border-color: #387CB7;
    margin-top: 110px;
    padding: 5px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #dbdada;
}
.brukerprofiler_buttons > img {
}
.brukerprofiler_buttons:hover {
    background-color: #ececec;
}
.brukerprofiler_admin_container > div {
    display: inline-block;
    margin-top: 5px;
    width: 200px;
    padding: 15px;
    border: 1px solid #387CB7;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #888888;
}
.brukerprofiler_admin_container h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.brukerprofiler_admin_container div.text {
    /* this is the weakness of this layout.  To get all the boxes to be the same height, you have to set this to a fixed height. */
    height: 200px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
/**----------- prosjekter_admin ---------------*/
.prosjekter_buttons {
    background-color: white;
    border-color: #387CB7;
    margin-top: 110px;
    padding: 5px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #dbdada;
}
.prosjekter_buttons > img {
}

.prosjekter_buttons:hover {
    background-color: #ececec;
}
.prosjekter_admin_container > div {
    display: inline-block;
    margin-top: 5px;
    width: 600px;
    padding: 15px;
    border: 1px solid #387CB7;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #888888;
}
.prosjekter_admin_container h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.prosjekter_admin_container div.text {
    /* this is the weakness of this layout.  To get all the boxes to be the same height, you have to set this to a fixed height. */
    height: 400px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
/**----------- statistikk_admin ---------------*/

/**----------- instillinger_admin ---------------*/

/**----------- timeregistrering_bruker ---------------*/

/**____________CONTAINERS___________*/
div.container_medium {
    display: inline-block;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #387CB7;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0.1em 1em 1.5em #888888;
}
div.container_big {
    display: inline-block;
    width: 40em;
    height: 40em;
    padding: 1em;
    margin: 1em;
    max-width: 50%;
    min-width: 20em;
    border: 0.1em solid #387CB7;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0.1em 1em 1em #888888;
}
.container_medium h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 1rem;
}
.container_big h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 1rem;
}
.container_medium div.text {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 0.8rem;
}
.container_big div.text {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 0.8rem;
}
/**____________PROSJEKTLEDER___________*/
section.prosjektleder_dashboard {
    margin-top: 10em;
}
.prosjektleder.header {
    height: 80pt;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10pt 10pt 20pt;
    background-color: #D9D2D2;
    font-family: "Segoe UI", serif;
    border-bottom: 1pt solid #387CB7;
}
a#prosjektleder.header {
    color: #707070;
    height: 80pt;
    position: relative;
    font-family: Segoe UI, serif;
    font-size: 15pt;
    text-decoration: none;
    line-height: 35pt;
}
span#prosjektleder.header {
    color: #707070;
    height: 80pt;
    position: relative;
    font-family: Segoe UI, serif;
    font-size: 15pt;
    text-decoration: none;
    line-height: 35pt;
}

/**----------- visOversikt - SOM ET EKSEMPEL----SKAL SLETTES---------------*/
/*
.oversikt {
    margin-left: 6em;
    padding-left: 6em;
    font-family: Arial, serif;
    position: relative;
    padding-bottom: 8em;
}
.oversikt td {
    horiz-align: center;
    text-align: center;
}
.oversikt table[id=oversikt] th, td {
    padding: 10px;
}
.oversikt td[id = pil] {
    width: 130px;
}
.oversikt td[id = pil] img {
    height: 70px;
    margin-right: 15px;
}
.oversikt td[id= katalog] img {
    height: 150px;
}
.oversikt td[id= bilde] img {
    height: 150px;
}
.oversikt td[id= dokument] img {
    height: 150px;
}
.oversikt td[id= dokument] img {
    height: 120px;
}
*/
/* ---------------visited link -----------------------*/
a:visited {

}

a:hover {
    color: lightyellow;
}

.flash-notice {
    color: #a82828;
}

.top-login {
    float: left;
}

/*-------------input bokser-------------*/
/*
input[type=date] {
    width: 20em;
    height: 3em;
    padding: 0.5em;
    color: gray;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-left: 1em;
    border: 0.1em solid gray;
}

input[type=submit] {
    width: 20em;
    padding: 0.5em;
    border: 1px solid darkslategrey;
    background: cadetblue;
    color: white;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-left: 39em;
    margin-right: 20%;
}
input[type=button], button {
    width: 30em;
    padding: 0.5em;
    border: 1px solid darkslategrey;
    background: cadetblue;
    color: white;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin: 0.2em;
}
input[type=function], button {
    width: 12em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-top: 1em;
    border: 1px solid #ccc;
    background: forestgreen;
    color: white;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical;
}
input[type=option], select {
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical
}
input[type=text], select {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: both;
}
input[type=password], select {
    width: 50em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical
}
input[type=submit]:hover {
    background-color: lightgrey;
}
input[type=button]:hover {
    background-color: lightgrey;
}
input[type=email], select {
    width: 50em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical
}
input[type=number], select {
    width: 30em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical
}
*/
/*-----------file upload---------------*/
input[type=file] {
    width: 30em;
    color: white;
    background-color: darkslategray;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
form {
    width: 100%;
    padding: 0.2em;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical;
    font-family: Calibri, serif;
}

/**----------- footer---------------*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.5em;
    background-color: #D9D2D2;
    color: darkgray;
    vertical-align: bottom;
    font-size: 12px;
}
footer div {
    padding-right: 2em;
    color: darkgray;
    text-align: right;
    line-height: 0.1em;
    margin-bottom: 5em;
}
footer a {
    color: darkgray;
}
nav {
    background-color: #D9D2D2;
}
footer p[class = leftText] {
    text-align: left;
    margin-left: 16em;
}
footer p[class = rightText] {
    text-align: right;
    margin-top: 0em;
}
