/**Bruk felles containere, buttons og andre felles ting så langt det går----*/
body { background-color:#E7E7E7;
}
/**----------- HEADER ------------------------------------------*/
.header img { display: inline-block; padding-left: 1em;
}
.header {
    display: inline-block;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D9D2D2;
    font-family: "Segoe UI", serif;
    border-bottom: 0.08em solid #387CB7;
}
.header a {
    color: #707070;
    height: 2em;
    position: relative;
    padding: 1em;
    font-family: Segoe UI, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
}
.header a:hover {
    color: lightyellow;
    height: 2em;
    position: relative;
    padding: 1em;
    font-family: Segoe UI, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
}
.header .icon { display: none;
}
/**--------------------------------------------------------------------*/
/* When the screen is less than 600 pixels wide, hide all links, except
for the first one ("Home"). Show the link that contains should open and
close the topnav (.icon) */
@media screen and (max-width: 1100px) {
    .header a:not(:first-child) {display: none;}
    .header a.icon {
        float: right;
        font-size: 1.5em;
        display: block;
        padding: 0.9em;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when
the user clicks on the icon. This class makes the topnav look good on
small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1100px) {
    .header.responsive {position: fixed;}
    .header.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .header.responsive a {
        float: none;
        position: relative;
        display: block;
        background-color: #D9D2D2;
        text-align: right;
    }
}
/**____________ADMINISTRATOR_DASHBOARD__________________________*/
section.admin_dashboard { margin-top: 6em;
}
/**____________PROSJEKTLEDER_DASHBOARD__________________________*/
section.prosjektleder_dashboard { margin-top: 6em;
}
/**____________TEAMLEDER_DASHBOARD______________________________*/
section.teamleder_dashboard { margin-top: 6em;
}
/**____________ANSATTE_DASHBOARD________________________________*/
section.employee_dashboard { margin-top: 6em;
}
/**____________KUNDE_DASHBOARD________________________________*/
section.customer_dashboard { margin-top: 6em;
}
/**____________TIMEREGISTRERINGER_______*/
section.timeregistreringer { margin-top: 6em;
}
/**____________BRUKERPROFILER___________*/
section.brukerprofiler { margin-top: 6em;
}
/**____________PROSJEKTER______________*/
section.prosjekter { margin-top: 6em;
}
/**____________RAPPORTER_______________*/
section.rapporter { margin-top: 6em;
}
/**____________INNSTILLINGER___________*/
section.innstillinger { margin-top: 6em;
}
/**____________LOGINN_________________*/
section.loginn { margin-top: 6em;
}
/**____________TERROR_________________*/
section.error { margin-top: 6em;
}
/**--------------------------------------------------------------------------------------------------------*/
/**____________BUTTONS___________*/
.buttons {
    font-family: Segoe UI, serif;
    color: #707070;
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #387CB7;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0.1em 1em 1.5em #888888;
    cursor: pointer;
}
.button_small {
    border: none;
    color: #b18888;
    padding: 1em 2em;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0.1em 0.2em 0.2em #888888;
}
.buttons > img {
}
.buttons:hover { background-color: #D9D2D2;
}
.button#button.button {
    font-family: Segoe UI, serif;
    color: #707070;
    padding: 0;
    border: none;
    background: none;
}

/**____________TABLES___________*/
.table {
    text-align: left;
    border-color: burlywood;
    border-spacing: 10pt;
    border-bottom: 1pt solid lightslategray;
    width: 100%;
}
th { background-color: darkseagreen; color: white;
}
tr:hover { background-color: #f5f5f5;
}
tr:nth-child(even) { background-color: #f2f2f2;
}

/**____________TEXT___________*/
/**padding:top right bottom left; */
div.text { font-family: Segoe UI, serif; color: #707070; font-size: 0.8rem;
}
/**klokkevisning med stort tekst*/
div.text_bigtime { font-family: Segoe UI, serif; color: #5f5a5a; font-size: 2.0rem;
}
h1 { font-family: Segoe UI, serif; font-size: 2.2rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h2 { font-family: Segoe UI, serif; font-size: 1.8rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h3 { font-family: Segoe UI, serif; font-size: 1.5em; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h4 { font-family: Segoe UI, serif; font-size: 1.2rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h5 { font-family: Segoe UI, serif; font-size: 1rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h6 { font-family: Segoe UI, serif; font-size: 0.8rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
/* -------------LINK -----------------------*/
a:visited { color: #707070;
}
a:hover { color: lightyellow;
}
.flash-notice { color: #a82828;
}
.top-login { float: left;
}

/**____________CONTAINERS___________*/
/**Brukes i <div> , bruk disse etter hverandre feks <div class="container container_big">
Disse er containere/bokser med bakgrunn og stroke farge.*/
div.container{
    display: inline-block;
    width: 12em;
    height: 5em;
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #8f9091;
    box-sizing: border-box;
    border-radius: 1em;
    background: white;
    box-shadow: 0.1em 0.2em 0.2em #888888;
    overflow: hidden;
}
div.container_small { width: 12em; height: 5em;
}
div.container_registrer_inn { width: 20em; height: 5em;
}
div.container_pause { width: 20em; height: 5em;
}
div.container_registrer_ut { width: 20em; height: 5em;
}
div.container_small_long { width: 24em; height: 5em;
}
div.container_medium { width: 22em; height: 9em;
}
div.container_medium_long { width: 30em; height: 10em;
}
div.container_medium_high { width: 40em; height: 30em;
}
div.container_big { width: 50em; height: 40em;
}
div.container_extra_big { width: 65em; height: 60em;
}

/**----------------LOGIN----------------------*/
.form_login {
    height: 100vh; /*height of this element is equal to 100% of the viewport height*/
    display: table;
    vertical-align: middle;
    border: #387CB7;
}

.field_outline {
    outline: rgb(165, 167, 170) solid 2px;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.161));
    margin: 10px;
}

.field_username, .field_password {
    text-align: center;
    width: 331px;
    height: 57px;
    padding: 12px 20px;
    border: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
}

.btn_forgot_password, .btn_confirm {
    background-color: #ffffff;
    border: none;
    color: #707070;
    width: 100%;
    height: 57px;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    border: transparent;
}
.btn:hover { background: #387CB7; color: #ffffff}

input:focus::placeholder { color: transparent;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}
.grid-container > div { /* target all <div> tags which are immediate children of container .grid container */
    text-align: center
}
.item-logo {
    grid-column: 1 /span 4;
    grid-row: 1;
    /*background-image: url("./images/morild_logo_150px.png"); images should be referred to in css code*/
    background-repeat: no-repeat;
    /*margin: auto;*/
}
.item-username {
    grid-column: 2 /span 2;
    grid-row: 2;
}
.item-password {
    grid-column: 2 /span 2;
    grid-row: 3;
}
.item-forgot {
    grid-column: 2;
    grid-row: 4;
}
.item-submit {
    grid-column: 3;
    grid-row: 4;
}
/*-----------file upload---------------*/
input[type=file] {
    width: 30em;
    color: white;
    background-color: darkslategray;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
form {
    width: 100%;
    padding: 0.2em;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    resize: vertical;
    font-family: Calibri, serif;
}
/**-----------FOOTER---------------*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color: #D9D2D2;
    color: darkgray;
    vertical-align: bottom;
    font-size: 12px;
}
footer div {
    padding-right: 2em;
    color: darkgray;
    text-align: right;
    line-height: 0.1em;
    margin-bottom: 5em;
}
footer a { color: darkgray;
}
footer p[class = leftText] { text-align: left; margin-left: 16em;
}
footer p[class = rightText] { text-align: right; margin-top: 0em;
}
/**--------------------------------------------------------------------------------------------------------*/
