/**Bruk felles containere, buttons og andre felles ting så langt det går----*/
body { background-color:#E7E7E7;
}
/**----------- HEADER ------------------------------------------*/
.header img { display: inline-block; padding-left: 1em;
}
.header {
    display: inline-block;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D9D2D2;
    font-family: "Segoe UI", serif;
    border-bottom: 0.08em solid #387CB7;
}
.header a {
    color: #707070;
    height: 2em;
    position: relative;
    padding: 1em;
    font-family: Segoe UI, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
}
.header a:hover {
    color: lightyellow;
    height: 2em;
    position: relative;
    padding: 1em;
    font-family: Segoe UI, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
}
.header .icon { display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except
for the first one ("Home"). Show the link that contains should open and
close the topnav (.icon) */
@media screen and (max-width: 1100px) {
    .header a:not(:first-child) {display: none;}
    .header a.icon {
        float: right;
        font-size: 1.5em;
        display: block;
        padding: 0.9em;
    }
}
/* The "responsive" class is added to the topnav with JavaScript when
the user clicks on the icon. This class makes the topnav look good on
small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1100px) {
    .header.responsive {position: fixed;}
    .header.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .header.responsive a {
        float: none;
        position: relative;
        display: block;
        background-color: #D9D2D2;
        text-align: right;
    }
}
/**header slutt--------------------------------------------------------------------*/


/**-------------  ADMINISTRATOR_DASHBOARD  ---------*/
section.admin_dashboard { margin-top: 6em; margin-bottom: 4em; }

/**-------------  PROSJEKTLEDER_DASHBOARD  --------*/
section.prosjektleder_dashboard { margin-top: 6em; }

/**-------------  TEAMLEDER_DASHBOARD  ------------*/
section.teamleder_dashboard { margin-top: 6em; }

/**-------------  ANSATTE_DASHBOARD  -------------*/
section.employee_dashboard { margin-top: 6em; }

/**-------------  KUNDE_DASHBOARD  ---------------*/
section.customer_dashboard { margin-top: 6em; }

/**-------------  TIMEREGISTRERINGER  ------------*/
section.timeregistreringer { margin-top: 6em; }

section.edit_hour { margin-top: 6em; }


/**-------------  BRUKERPROFILER  ---------------*/
section.brukerprofiler { margin-top: 6em; }

/**-------------  PROSJEKTER  -------------------*/
section.prosjekter { margin-top: 6em; }

section.edit_project {margin-top: 6em;}



/**-------------  GRUPPER  -------------------*/
section.grupper { margin-top: 6em; }

section.edit_group {margin-top: 6em;}

/**-------------  RAPPORTER  -------------------*/
section.rapporter { margin-top: 6em; }

/**-------------  INNSTILLINGER  ---------------*/
section.innstillinger { margin-top: 6em; }

/**-------------  LOGINN  ----------------------*/
section.loginn {
    margin-top: 10em;
    /* HTML 5 syntax */
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/**-------------  EDIT_USER  ----------------------*/
section.edit_user { margin-top: 6em; margin-bottom: 4em; }

/**-------------  REGISTER_USER  ----------------------*/
section.register_user { margin-top: 6em; margin-bottom: 4em; }

/**-------------  PROFILE_EDIT  ----------------------*/
section.profile_edit { margin-top: 6em; margin-bottom: 4em; }

/**-------------  ERROR  -----------------------*/
section.error { margin-top: 6em; margin-left: 5em; }

/**------------- USER_CONTRIBUTION -----------------*/
section.user_contribution { margin-top: 6em; margin-bottom: 4em; }

section#center { align-self: center; }


/**-------------  CONTAINERS  ------------------*/
/**Brukes i <div> , bruk disse etter hverandre feks <div class="container container_big">
Disse er containere/bokser med bakgrunn og stroke farge.*/
div.container{
    display: inline-block;
    width: 12em;
    height: 5em;
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #8f9091;
    box-sizing: border-box;
    border-radius: 1em;
    background: white;
    box-shadow: 0.1em 0.1em 0.1em #acabab;
    overflow: hidden;
}
div.container_xxsmall { width: 4em; height: 4em;
}
div.container_small { width: 11em; height: 4em; box-shadow: 0.1em 0.1em 0.1em #888888;
}
div.container_small:hover { border: 0.1em solid #171f28;
}
div.container_registrer_inn { width: 20em; height: 5em;
}
div.container_pause { width: 20em; height: 5em;
}
div.container_registrer_ut { width: 20em; height: 5em;
}
div.container_small_long { width: 24em; height: 5em;
}
div.container_medium { width: 22em; height: 9em;
}
div.container_medium_long { width: 30em; height: 10em;
}
div.container_medium_high { width: 40em; height: 30em;
}
div.container_big { width: 50em; height: 40em;
}
div.container_big_long { margin-top: 3em; margin-bottom: 3em;
    border: none; box-shadow: none; background: #dbd9d9;
}
div.container_extra_big { width: 65em; height: 30em;
}
div.container_center { display:block;
    height: 5em; box-shadow: none; border: none;
    /**margin-left: auto; margin-right: auto; width: 50%;*/
}
div.openContainerNoBorder {
    margin-left: 1em;
}
div.container_menu { width: 30em; height: 30em; background-color: #eeeeee; border: none;
}
div.container_menu_form { width: auto; height: auto; background-color: #eeeeee; border: none;
}
div.container_menu_form_hour { width: 50em; height: 50em; background-color: #eeeeee; border: none;
    overflow-y: scroll; scroll-behavior: smooth;
}
div.container_menu_form_project { width: 30em; height: 40em; background-color: #eeeeee; border: none;
    overflow-y: scroll; scroll-behavior: smooth;
}
div.container_menu_lang { width: 60em; height: 30em;  border: none;
    overflow-y: scroll; scroll-behavior: smooth; box-shadow: none; background: none;
}
div.container_menu_lang_WithBorder { width: 60em; height: 40em;  border: none;
    overflow-y: scroll; scroll-behavior: smooth; background: #eeeeee;
}
div.noBorder_NoBackground_NoShadow {
    border: none; background: none; box-shadow: none;
}
/**-----------  BUTTONS  -------------*/
.buttons {
    font-family: Segoe UI, serif;
    color: #5b4e48;
    padding: 1em;
    margin: 1em;
    background: white;
    border: 0.1em solid #888888;
    box-sizing: border-box;
    width: 12em; height: 3em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.4em #888888;
    cursor: pointer;
    white-space: nowrap;
}
/**Rediger knapper*/
.miniButtons { width: 10em; height: 2em;
    padding: 0em; margin: 0em;
    border-radius: 0.5em;
    cursor: pointer; border: none;
    box-shadow: 0.1em 0.1em 0.1em #888888;
}
.miniButtons_green  {
    color: white;
    font-size: 0.8rem;
    background: #1b9448;
    padding: 1em;
    margin: 0.5em 0.5em 0.5em 0em;
    width: 20em;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.miniButtons_green:hover  {
    color: #8adda7;
}
.button_small {
    border: none;
    font-family: Segoe UI, serif;
    color: #5b4e48;
    padding: 1em 2em;
    margin: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0.1em 0.2em 0.2em #888888;
    cursor: pointer;
    white-space: nowrap;
}
.button_long {
    /**padding:top right bottom left; */
    border: none;
    color: #cac6c6;
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 2em;
    width: 25em;
    height: 1.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0.1em 0.1em 0.2em #888888;
    background: none;
    cursor: pointer;
    white-space: nowrap;
}
.buttons > img {
}
.buttons:hover { background-color: #D9D2D2;
}
.button#button.button {
    font-family: Segoe UI, serif;
    font-size: 0.7em;
    color: #707070;
    padding: 0;
    border: none;
    background: none;
    border-radius: 0.3em;
    cursor: pointer;
    white-space: nowrap;
}
button#buttonNoBorderOnlyGreenText {
    display:inline-block;
    color: #1b9448;
    border: none;
    background: none;
    margin: 1em 1em 1em 2em;
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    font-weight: bold;

}
input:focus::placeholder { color: transparent;
}
label {
    font-family: Segoe UI, serif;
    color: #707070;
    margin-right: 1em;
    float: left;
}
input#user {
    font-family: Segoe UI, serif;
    width: 70%;
    border: none;
    margin-top: 0em;
}
input#submit {
    font-family: Segoe UI, serif;
    color: #5b4e48;
    padding: 1em;
    margin: 1em;
    background: white;
    border: 0.1em solid #888888;
    box-sizing: border-box;
    width: 15em; /*height: 3em;*/
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.4em #888888;
    cursor: pointer;
    white-space: nowrap;
}

input#password {
    font-family: Segoe UI, serif;
    width: 70%;
    border: none;
    position: relative;
    left: 13px; /* relative to username input above*/
    margin-top: 0em;
}

input[type=text] {
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 0.4em 0.4em;
    margin: 1em 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
    transition: width 0.4s ease-out;
}
input[type=email] {
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
    transition: width 0.4s ease-in-out;
}
input[type=password] {
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 0.4em 0.4em;
    margin: 1em 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 30%;
    border: none;
}
input[type=date] {
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
}
input[type=date] {
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
}
input[type=datetime-local] {
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
}
input[type=submit] {
    font-family: Segoe UI, serif; color: white; font-size: 0.8rem;
    background: #599871;
    width: 15em;
    padding: 12px 20px;
    margin: 0.5em 0.5em 0.5em 0em;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
input[type=submit] :hover {
      color: #11b54a;
}
label {
    color: #4c4747;
}
select{
    font-family: Segoe UI, serif; color: #606060; font-size: 0.8rem;
    width: 20em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: none;
}
/**----------- TABLES  ----------------------*/
.table {
    text-align: left;
    border-color: burlywood;
    border-spacing: 10pt;
    border-bottom: 1pt solid lightslategray;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
}
th { background-color: darkseagreen; color: white;
}
tr:hover { background-color: #f5f5f5;
}
tr:nth-child(even) { background-color: #f2f2f2;
}
#table_edit {
    border-spacing: 0.2em;
    padding: 0.5em;
    text-align: left;
    font-family: Segoe UI, serif;
    font-size: 0.8rem;
    margin: 0.5em;
}


/**-----------  TEXT  -----------------------*/
/**padding:top right bottom left; */
div.text { font-family: Segoe UI, serif; color: #707070; font-size: 0.8rem;
}
/**klokkevisning med stort tekst*/
div.text_bigtime { font-family: Segoe UI, serif; color: #5f5a5a; font-size: 2.0rem;
}
h1 { font-family: Segoe UI, serif; font-size: 2.2rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h2 { font-family: Segoe UI, serif; font-size: 1.8rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h3 { font-family: Segoe UI, serif; font-size: 1.5em; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h4 { font-family: Segoe UI, serif; font-size: 1.2rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h5 { font-family: Segoe UI, serif; font-size: 1rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
h6 { font-family: Segoe UI, serif; font-size: 0.8rem; color: #5f5a5a; margin: 0; padding: 0.3rem 0.1rem 0.3rem 0;
}
b { margin-left: 1em}

/* -------------LINK -----------------------*/
a { font-family: Segoe UI, serif; color: #5f5a5a; font-size: 1rem;
}
a:visited { color: #707070;
}
a:hover { color: lightyellow;
}
.flash-notice { color: #a82828;
}
.top-login { float: left;
}

/**-----------FOOTER---------------*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    background-color: #D9D2D2;
    color: darkgray;
    vertical-align: bottom;
    font-size: 12px;
}
footer div {
    padding-right: 1em;
    color: darkgray;
    text-align: right;
    margin-bottom: 1em;
}
footer a { color: darkgray;
}
footer p[class = leftText] {
    text-align: left;
    margin-left: 16em;
}
footer p[class = rightText] {
    text-align: right;
    margin-top: 0em;
    font-family: Segoe UI, serif;
    font-weight: bold;
}
/**--------------------------------------------------------------------------------------------------------*/