
html {
    height: 100%;
}

body {
    height: 100vh;
    background-color: #E7E7E7;
    display: table;
    margin: auto;
    background-image: url("../images/login_logo.png");
    background-repeat: no-repeat;
    background-position: 55% 20%;
}


.form_login {
    height: 100vh; /*height of this element is equal to 100% of the viewport height*/
    display: table-cell;
    vertical-align: middle;
}

.field_outline {
    outline: rgb(165, 167, 170) solid 2px;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.161));
    margin: 10px;
}

input[type=submit], .btn  {
    background-color: #ffffff;
    border: none;
    color: #707070;
    width: 100%;
    height: 57px;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    border: transparent;
}  .btn:hover {background: #387CB7; color: #ffffff}


input[type=text], input[type=password] {
    text-align: center;
    width: 331px;
    height: 57px;
    padding: 12px 20px;
    border: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
}

input:focus::placeholder {
    color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-container > div { /* target all <div> tags which are immediate children of container .grid container */
    text-align: center;
}

.item-logo {
    grid-column: span 4;
}

.item-username {
    grid-column: 2 /span 2;
    grid-row: 1;
}

.item-password {
    grid-column: 2 /span 2;
    grid-row: 2;
}

.item-forgot {
    grid-column: 2;
    grid-row: 3;
}

.item-submit {
    grid-column: 3;
    grid-row: 3;
}
