{% extends "layout_prosjektleder.twig" %}
{% block content %}
    <section class="dashboard_prosjektleder">
        <div class="div1">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Body text goes here
            </div>
        </div>
    </section>
{% endblock %}