{% extends "layout.twig" %}
{% block content %}
    <section class="admin_dashboard" id="admin_dashboard">
        <div class="container container_medium">
                <h4>Databaseoppføringer i dag</h4>
                <div class="text">
                    Body text goes here
            </div>
        </div>
        <div class="container container_medium" id="container_medium">
            <h4>Total timeregistrering</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>
        <div class="container container_medium" id="container_medium">
            <h4>Nye brukere til godkjenning</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>
        <div class="container container_medium" id="container_medium">
            <h4>Rapporterte feilmeldinger</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>
        <div class="container container_big">
            <h4>Kommentarer fra brukere</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>
    </section>
{% endblock %}