{% extends "layout.twig" %}
{% block content %}

    <section id="brukerprofiler" class="brukerprofiler">
        <div class="container_small">
            <button id="button" class="button">
                <img src="images/icon_user_add.png" width="40pt"> Legg til ny bruker</button>
        </div>
        <div class="container_small">
            <button id="button" class="button">
                <img src="../images/icon_slett_bruker.svg"> Slett bruker</button>
        </div>
        <div class="container_small">
            <button id="button" class="button">
                <img src="../images/icon_bruker_sjekk.svg"> Verifiser bruker</button>
        </div>
        <div class="container_small">
            <button id="button" class="button">
                <img src="../images/icon_endre_bruker.svg"> Endre bruker</button>
        </div>
        <div class="container_small_long"> </div>
    <section>
        <div class="container_medium_high">
            <div>
                <h3>Administratorer</h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
            <div>
                <h3>Ledere </h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
            <div>
                <h3>Brukere</h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
            <div>
                <h3>Grupper</h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
        </div>
    </section>



    </section>
{% endblock %}