{% extends "layout_admin.twig" %}
{% block content %}

    <div id="brukerprofiler_admin" class="brukerprofiler_admin">
        <div class="brukerprofiler_admin_container">
            <button class="button brukerprofiler_buttons">
                <img src="../images/icon_legg_til_bruker.svg"> Ny bruker</button>
            <button class="button brukerprofiler_buttons">
                <img src="../images/icon_slett_bruker.svg"> Slett bruker</button>
            <button class="button brukerprofiler_buttons">
                <img src="../images/icon_bruker_sjekk.svg"> Verifiser bruker</button>
            <button class="button brukerprofiler_buttons">
                <img src="../images/icon_endre_bruker.svg"> Endre bruker</button>
        </div>
        <div class="brukerprofiler_admin_container">
            <div>
                <h3>Administratorer</h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
            <div>
                <h3>Ledere </h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
            <div>
                <h3>Brukere</h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
            <div>
                <h3>Grupper</h3>
                <div class="text">
                    Body text goes here
                </div>
            </div>
        </div>


    </div>
{% endblock %}