{% extends "layout.twig" %}
{% block content %}
    <section class="employee_dashboard" id="employee_dashboard">
        <div class="container container_medium" id="container_medium">
            <h4>Mine timeregistreringer</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>
        <div class="container container_medium" id="container_medium">
            <h4>Rapporterte eget fravær</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>

    </section>

    <section>
        <div class="container container_big">
            <h4>Kommentarer fra brukere</h4>
            <div class="text">
                Body text goes here
            </div>
        </div>
    </section>
{% endblock %}