{% extends "layout.twig" %}
{% block content %}
  <head>
    <title>Error</title>
  </head>
  <section id="error" class="error">
    <div class="container_medium_long">
      <div class="text">
        {% if hijaked %}
        <h2>Session hijaked.....</h2>
        {% else %}
        <h2>En feil har oppstått:</h2>
        <h3>{{msg}}</h3>
        {% endif %}
        <button id="button_small" class="button_small">
            <a href = "javascript:history.back()">Gå tilbake</a>
        </button>
      </div>
    </div>
  </section>
{% endblock %}
