{% extends "layout.twig" %}
{% block content %}
  <head>
    <title>Error</title>
  </head>
  <section id="error" class="error">
    <div class="container_medium_long">
      <div class="text">
        {% if hijaked %}
        <h1>Session hijaked.....</h1>
        {% else %}
        <h1>En feil har oppstått:</h1>
        <h2>{{msg}}</h2>
        {% endif %}
        <button id="button_small" class="button_small">
            <a href = "javascript:history.back()">Gå tilbake</a>
        </button>
      </div>
    </div>
  </section>
{% endblock %}
