<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<div class="header" id="myHeader">
    <img src="images/morild_logo_150px.png" data-href="index.php" width="230pt" alt="Logo"/>
    <!--TODO if bruker prosjektleder så link til prosjektleder_dashbord-->
    <a>Velkommen {{ user.username }}</a>
    <a href="projectleader_dashboard.php">Dashbord</a>
    <a href="timeregistration.php">Timeregistreringer </a>
    <a href="userprofiles.php">Brukerprofiler</a>
    <a href="projects.php">Prosjekter</a>
    <a href="reports.php">Rapporter</a>
    <a href="settings.php">Innstillinger</a>

    {% if user %}
        <a href="logout.php" class="active">Logg ut</a>
    {% endif %}

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</div>
</body>
</html>
