<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<div class="header" id="myHeader">
    <a href="#dashboard"><img src="images/morild_logo_150px.png" width="230pt" alt="Logo"/></a>

    <!--TODO if bruker prosjektleder så link til prosjektleder_dashbord-->
    <a href="#dashbord" class="active">Dashbord</a>
    <a href="#timeregistration">Timeregistreringer </a>
    <a href="#userprofiles">Brukerprofiler</a>
    <a href="#projects">Prosjekter</a>
    <a href="#rapports">Rapporter</a>
    <a href="#settings">Innstillinger</a>

    {% if session.loggetInn %}
        <a href="../logout.php" class="active">Logg ut</a>
        <h3>Velkommen</h3><p><span><b>{{ session.brukernavn }}</b></span></p>
    {%  else %}
        <a href="../login.php" class="active">Logg inn</a>
    {% endif %}

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</div>
</body>
</html>
