<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<div class="header">
    <a> <img src="images/morild_logo_150px.png" width="230pt" alt="Logo"/></a>
    <span>Velkommen</span><span><b>&nbsp;Leder&nbsp;&nbsp;</b></span>

    <!--TODO if bruker prosjektleder så link til prosjektleder_dashbord-->
    <a href="">&nbsp;Dashbord&nbsp;&nbsp;</a>
    <a href="timeregistreringer.php">&nbsp;Timeregistreringer&nbsp;&nbsp;</a>
    <a href="brukerprofiler.php">&nbsp;Brukerprofiler&nbsp;&nbsp;</a>
    <a href="prosjekter.php">&nbsp;Prosjekter&nbsp;&nbsp;</a>
    <a href="rapporter.php">&nbsp;Rapporter&nbsp;&nbsp;</a>
    <a href="instillinger.php">&nbsp;Innstillinger&nbsp;&nbsp;</a>

    {% if session.loggetInn %}
        <a href="../logout.php">Logg ut</a>
        <h3>Velkommen</h3><p><span><b>{{ session.brukernavn }}</b></span></p>
    {%  else %}
        <a href="../login.php">Logg inn</a>
    {% endif %}
</div>

</body>
</html>