<!DOCTYPE html>
<html lang="en">
  <head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css" />
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
      <title>
          Morild Data AS
      </title>
  </head>
  <body>
      {% include 'login_header.twig' %}
      Dette er bare eksempel på Twig side
  </body>
</html>
