<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel='stylesheet' href="stilark.css">
    <link rel="shortcut icon" type="../image/jpg" href="favicon.ico"/>
</head>
<header>
    {{ include('header_admin.twig') }}
</header>

<body>
{% block content %}
{% endblock %}
</body>

<footer>

</footer>
</html>

