<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<script>
    function goBack() {
        window.history.back()
    }
</script>
<header>
    {{ include('header.twig') }}
</header>

<body>
{% block content %}
    <script>
        let timerVar = setInterval(countTimer, 1000);
        let totalSeconds = 0;

        function countTimer() {
            ++totalSeconds;
            let hour = Math.floor(totalSeconds / 3600);
            let minute = Math.floor((totalSeconds - hour * 3600) / 60);
            let seconds = totalSeconds - (hour * 3600 + minute * 60);
            if (hour < 10)
                hour = "0" + hour;
            if (minute < 10)
                minute = "0" + minute;
            if (seconds < 10)
                seconds = "0" + seconds;
            document.getElementById("Timer").innerHTML = hour + ":" + minute + ":" + seconds;
        }

        function showTime() {
            let date = new Date();
            let s = date.getSeconds(); // 0 - 59
            let h = date.getHours(); // 0 - 23
            let m = date.getMinutes(); // 0 - 59

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            let time = h + ":" + m + ":" + s;
            document.getElementById("MyClockDisplay").innerText = time;
            document.getElementById("MyClockDisplay").textContent = time;

            setTimeout(showTime, 1000);
        }

        showTime();
    </script>
{% endblock %}
</body>

<footer>
    {{ include ('footer.twig') }}
</footer>

</html>
