<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>

<header>
    <script>
        function myFunction() {
            var x = document.getElementById("myHeader");
            if (x.className === "header") {
                x.className += " responsive";
            } else {
                x.className = "header";
            }
        }
    </script>
    {{ include('header.twig') }}
</header>

<body>
{% block content %}
{% endblock %}
</body>

<footer>
</footer>

</html>
