<!DOCTYPE html>

<html lang="eng" xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <link rel="stylesheet" type="text/css" href="login/login_bruker.css">

<body>
<div class='text-info'>
    {% if session.getFlashBag.has('header') %}
        {% for header in session.getFlashBag.get('header', []) %}
            <h4>{{ header }}</h4>
        {% endfor %}
    {% endif %}
</div>
<div>
    <form action="login.php" method="post" class="form login">

            <div class="form_login">
                <div class="grid-container">

                    <div class="item-username">
                        <div class="field_outline">
                            <label for="user"> </label>
                            <input type="text" onfocus="this.placeholder = ''" placeholder="Brukernavn"  name="email" id="user" required >
                        </div>
                    </div>

                    <div class="item-password">
                        <div class="field_outline">
                            <label for="password"> </label>
                            <input type="password" onfocus="this.placeholder = ''"  placeholder="Passord" name="password" id="password" required >
                        </div>
                    </div>


                        <div class="item-forgot">
                            <div class="field_outline">
                                <button type="button" class="btn" name="forgotten_password">
                                    Glemt<br/>Passord </button>
                            </div>
                        </div>

                        <div class="item-submit">
                            <div class="field_outline">
                                <input type="submit" class="btn" name="login" value="Bekreft">
                            </div>
                        </div>

                </div>

                <!--
                    if (isset($_POST['forgotten_password'])) {
                        //order new password
                    } else if (isset($_POST['delete_button'])) {
                        //confirm and send data
                    } else {
                        //no button pressed
                    }
                -->

            </div>
    </form>
</div>
</body></html>