<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
  <title>Login</title>
</head>
<body>
<a href="../"><img src="../Images/SiteTitle.svg" alt="Project7Drive" height="80"></a>
<h2>Log in</h2>
<div class="flash-notice">
  {% if session.getFlashBag.has('header') %}
    {% for header in session.getFlashBag.get('header', []) %}
      <h3>{{ header }}</h3>
    {% endfor %}
  {% endif %}
</div>
<div class = "form">
<form action="../login/index.php" method="post">
  <table>
    <tr>
      <td>
        <label>Email: </label>
      </td>
      <td>
        <input type="email" name="email" placeholder="email" required>
      </td>
    </tr>
    <tr>
      <td>
        <label>Password:</label>
      </td>
      <td>
        <input type="password" name="password" size="15" placeholder="password" required>
      </td>
    </tr>
    <tr>
      <td>
        <input type="hidden" value="{{ getMac("Login") }}" name="XSRFPreventionToken">
        <input type="submit" name="login" value="Login">
        <br>Problems with logging in? Contact <a href="../profile-page/?username=donald">admin</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="../register/" class="button-white">Register </a>
        <br>Not verified? Check your email, or <a href="../register/verify.php"> send verification email again</a>
      </td>
    </tr>
  </table>
</form>
</div>
<p id="back"><a href = "javascript:history.back()"><img src="../Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>
