<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>

    {% if session.getFlashBag.has('header') %}
        {% for header in session.getFlashBag.get('header', []) %}
            <h3>{{ header }}</h3>
        {% endfor %}
        {% for message in session.getFlashBag.get('message', []) %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <section class="loginn">
        <form action="login.php" method="post">
            <div>
                <img id="innloggLogo" src="images/morild_logo_150px.png" alt="Logo"/>
            </div>
            <div class="button button_long">
                <label for="user"> Brukernavn: </label>
                <input type="text" onfocus="this.placeholder = ''" placeholder="Brukernavn" name="username"
                       id="user" required>
            </div>
            <div class="button button_long">
                <label for="password"> Passord: </label>
                <input type="password" onfocus="this.placeholder = ''" placeholder="Passord"
                       name="password" id="password" required>
            </div>

            <div>
                <button id="buttonNoBorderOnlyGreenText" class="button" type="button" name="forgotten_password">
                    Glemt passord
                </button>
                <input type="hidden" value="{{ getMac("login") }}" name="XSRFPreventionToken">
                <input id="submit" type="submit" name="login" value="Bekreft">
            </div>

        </form>
    </section>
</body>

<footer>
</footer>

</html>
