{% extends "layout.twig" %}
{% block content %}

    <section id="prosjekter" class="prosjekter">
        <div>
            <button class="button buttons">
                <img src=""> Nytt prosjekt</button>
            <button class="button buttons">
                <img src=""> Slett prosjekt</button>
            <button class="button buttons">
                <img src=""> Legge inn funksjoner</button>
            <button class="button buttons">
                <img src=""> Godkjenne prosjekt</button>
            <button class="button buttons">
                <img src=""> Alle prosjekter</button>
        </div>
        <div class="container_big">
            <div>
                <h3>Prosjekter</h3>
                <div class="text">
                    Insert tabell her
                </div>
            </div>
        </div>

    </section>
{% endblock %}