{% extends "layout.twig" %}
{% block content %}
    <section class="prosjektleder_dashboard" id="prosjektleder_dashboard">
        <div class="container_medium" id="container_medium">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføring 1
            </div>
        </div>
        <div class="container_medium" id="container_medium">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
        <div class="container_medium" id="container_medium">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
        <div class="container_big" id="container_big">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
    </section>
{% endblock %}