{% extends "prosjektleder_layout.twig" %}
{% block content %}
    <div class="prosjektleder_dashboard" id="prosjektleder_dashboard">
        <div class="div1" id="div1">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
        <div class="div1">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
        <div class="div1">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
        <div class="div1">
            <h3>Databaseoppføringer i dag</h3>
            <div class="text">
                Databaseoppføringer
            </div>
        </div>
    </div>
{% endblock %}