<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../stylesheet.css" />
    <title>Register User</title>
</head>
<body>
<script>
    //Delvis modifisert fra https://stackoverflow.com/questions/21727317/how-to-check-confirm-password-field-in-form-without-reloading-page
    var check = function() {
        var pass1 = document.getElementById("password1").value;
        var pass2 = document.getElementById("password2").value;
        if (pass1 != "" && pass2 != "") {
            if (pass1 === pass2) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                return true;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                return false;
            }
        }
        else document.getElementById('message').innerHTML = '';
        return false;
    }

    function validate(){
        return check();
    }

</script>
{% include 'login2.twig' %}
<h1>Register user</h1>
<div class = "form">
<form method="post" id="register-form" onsubmit="return validate();">
    <label>Username:</label>
    <div id="error_msg"></div>
    <div>
    <br><input type="text" name="username" value="" placeholder="User name" maxlength=45 required id="username" />
    <span></span>
        <div id="usrnm_msg"></div>
    </div>
    <div>
    <br><label>First Name:</label>
    <br><input type="text" name="firstname" value="" placeholder="First name" maxlength=45 required id="firstname" />
    <br><label>Last name:</label>
    <br><input type="text" name="lastname" value="" placeholder="Last name" maxlength=45 required id="lastname" />
    </div>
    <div>
    <br><label>Epost:</label>
    <br><input type="email" name="email" value="" placeholder="Email" maxlength=45 required id="register-email" />
        <span></span>
    </div>
    <div>
    <br><label>Password: </label>
    <br><input type="password" name="password"  required id="password1" placeholder="Password" minlength=8 maxlength=60 value="" onkeyup='check();'>
    <br><label>Confirm password:</label>
    <br><input type="password" name="password2" required id="password2" placeholder="Confirm Password" minlength=8 maxlength=60 value="" onkeyup='check();'/>
        <span id='message'></span>
    <input type="hidden" value="{{ getMac("Register") }}" name="XSRFPreventionToken">
    <br><input type="submit" name="register" id="reg_btn" value="Register">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../RegisterUser.js"></script>
</div>
</form>
</div>
<p id="back"><a href = "javascript:history.back()"><img src="{{rel}}Images/BackBtn.svg" alt="Back" width="100"></a></p>
</body>
</html>