<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Morild Data BA</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>
<script>
    function goBack() {
        window.history.back()
    }
</script>
<img src="images/morild_logo_150px.png" data-href="index.php" width="300pt" alt="Logo"/>
<h4>Rapport til utskrift</h4>
<h3>Her legges all info for valgt prosjekt</h3>

<br><button class="button miniButtons" onclick="goBack()">Gå tilbake</button>

</body>
</html>