body {
    background-color:#E7E7E7;
}

/**----------- header ---------------*/
.header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px 20px;
    background-color: #D9D2D2;
    font-family: "Segoe UI", serif;

    border-bottom: 1px solid #387CB7;
}
.header a {
    color: #707070;
    height: 80px;
    position: relative;
    font-family: Segoe UI, serif;
    font-size: 15px;
    text-decoration: none;
    line-height: 35px;

}

/**----------- dashbord_admin ---------------*/
/* hentet fra  https://jsfiddle.net/g2pzwaou/ */
.container h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.container > div {
    display: inline-block;
    width: 20%;
    padding: 15px;
    max-width: 40%;
    min-width: 200px;
    margin-top: 110px;
    border: 1px solid #387CB7;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #888888;
}


.container div.text {
    /* this is the weakness of this layout.  To get all the boxes to be the same height, you have to set this to a fixed height. */
    height: 100px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.container2 h3 {
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}
.container2 > div {
    display: inline-block;
    margin-top: 5px;
    width: 35%;
    padding: 15px;
    max-width: 40%;
    min-width: 200px;
    border: 1px solid #387CB7;
    box-sizing: border-box;
    border-radius: 10px;
}
.container2 div.text {
    /* this is the weakness of this layout.  To get all the boxes to be the same height, you have to set this to a fixed height. */
    height: 300px;
    font-family: Segoe UI, serif;
    color: #707070;
    font-size: 12px;
}

/**----------- brukerprofiler_admin ---------------*/

/**----------- prosjekter_admin ---------------*/

/**----------- statistikk_admin ---------------*/

/**----------- instillinger_admin ---------------*/

/**----------- timeregistrering_bruker ---------------*/