{% extends "layout.twig" %}
{% block content %}
  <head>
    <title>Error</title>
  </head>
  {% if session.getFlashBag.has('header') %}
    <div class="container container_big_long text">
      {% for header in session.getFlashBag.get('header', []) %}
        <h6>{{ header }}</h6>
      {% endfor %}
      {% for message in session.getFlashBag.get('message', []) %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  <section id="error" class="error">
    <div class="container_medium_long">
      <div class="text">
        <h2>{{ msg }}</h2>
        <a href="logout.php">Logg ut</a>
      </div>
    </div>
  </section>
{% endblock %}
