{% extends "layout.twig" %}
{% block content %}

    <section id="brukerprofiler" class="brukerprofiler">
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_legg_til_bruker.svg" width="40pt"> Legg til ny bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_slett_bruker.svg" width="40pt"> Slett bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_bruker_sjekk.svg" width="40pt"> Verifiser bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_endre_bruker.svg" width="40pt"> Endre bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_people.png" width="60pt"> Oversikt
            </button>
        </div>
        <section>
                <h5>Alle brukere og administratorer</h5>
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Navn</th>
                            <th>Stilling</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            {% for user in users %}
                                <td>{ user.firstName || user.lastName }</td>

                                {% if user.isAdmin %}
                                    <td>Administrator</td>
                                {% elseif user.isProjectLeader %}
                                    <td>Prosjektleder</td>
                                {% elseif user.isGroupLeader %}
                                    <td>Teamleder</td>
                                {% elseif user.isTemporary %}
                                    <td>Innleid</td>
                                {% elseif user.isCustomer %}
                                    <td>Kunde</td>
                                {% endif %}

                                <td>{ user.getId == status.getStatus }</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
        </section>


    </section>
{% endblock %}