{% extends "layout.twig" %}
{% block content %}

    <section id="user_contribution" class="user_contribution">
        <div>
            <h5>Bidrag fra bruker: {{ userToView.getLastName}}, {{ userToView.getFirstName}} </h5>
            <button class="button miniButtons" onclick="goBack()">Gå tilbake</button>
        </div>
    </section>
{% endblock %}