{% extends "layout.twig" %}
{% block content %}

    <section id="brukerprofiler" class="brukerprofiler">
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_legg_til_bruker.svg" width="40pt"> Legg til ny bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_slett_bruker.svg" width="40pt"> Slett bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_bruker_sjekk.svg" width="40pt"> Verifiser bruker
            </button>
        </div>
        <div class="container container_small">
            <button id="button" class="button">
                <img src="images/icon_endre_bruker.svg" width="40pt"> Endre bruker
            </button>
        </div>
        <div class="container container_small_long">
            <button id="button" class="button">
                <img src="images/icon_people.png" width="50pt"> Oversikt over ansatte og hva de jobber med
            </button>
        </div>
        <section>
            <div class="container container_medium_high">
                <h5>Administratorer</h5>
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Navn</th>
                            <th>Stilling</th>
                            <th>Jobber med prosjekt</th>
                            <th>Jobber i gruppe</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Ole Nordmann</td>
                            <td>Prosjektleder</td>
                            <td>Anyone Ne1</td>
                            <td>Gruppe4</td>
                            <td>Hjemmekontor</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container container_medium_high">
                <h5>Prosjektledere </h5>
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Navn</th>
                            <th>Stilling</th>
                            <th>Jobber med prosjekt</th>
                            <th>Jobber i gruppe</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Ole Nordmann</td>
                            <td>Prosjektleder</td>
                            <td>Anyone Ne1</td>
                            <td>Gruppe4</td>
                            <td>Hjemmekontor</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container container_medium_high">
                <h5>Teamledere </h5>
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Navn</th>
                            <th>Stilling</th>
                            <th>Jobber med prosjekt</th>
                            <th>Jobber i gruppe</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Ole Nordmann</td>
                            <td>Prosjektleder</td>
                            <td>Anyone Ne1</td>
                            <td>Gruppe4</td>
                            <td>Hjemmekontor</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container container_medium_high">
                <h5>Brukere</h5>
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Navn</th>
                            <th>Stilling</th>
                            <th>Jobber med prosjekt</th>
                            <th>Jobber i gruppe</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Ole Nordmann</td>
                            <td>Prosjektleder</td>
                            <td>Anyone Ne1</td>
                            <td>Gruppe4</td>
                            <td>Hjemmekontor</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container container_medium_high">
                <h5>Grupper</h5>
                <div class="text">
                    <table class="table" id="table">
                        <tr>
                            <th>Gruppenavn</th>
                            <th>Teamleder</th>
                            <th>Jobber med prosjekt</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>Gruppe Pigs</td>
                            <td>Ole Nordmann</td>
                            <td>Anyone Ne1</td>
                            <td>20%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>


    </section>
{% endblock %}